<%= link_to("<< Back to List", {:action => 'index', :team_member_id => @team_member.id}, :class => 'back-link') %>

<div class="bios show">
    <h2>Show Bio</h2>
    <table summary="Bio detail view">
        <tr>
            <th>ID</th>
            <td><%= @bio.id %></td>
        </tr>
        <tr>
            <th>Biography</th>
            <td><%= @bio.biography %></td>
        </tr>
        <tr>
            <th>Team Member ID</th>
            <td><%= @bio.team_member_id %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @bio.created_at %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @bio.updated_at %></td>
        </tr>
    </table>
</div>
