<table summary="Admin form fields">
    <tr>
        <th><%= f.label(:username, "Username") %></th>
        <td><%= f.text_field(:username) %></td>
    </tr>
    <tr>
        <th><%= f.label(:password, "Password") %></th>
        <td><%= f.password_field(:password) %></td>
    </tr>
    <tr>
        <th><%= f.label(:email, "Email") %></th>
        <td><%= f.text_field(:email) %></td>
    </tr>
</table>
