<%= link_to("<< Back to Versions", {:controller => 'versions', :action => 'index'}, :class => 'back-link') %>

<% @page_title = "Release Notes" %>

<div class="release_notes index">
    <h2>Release Notes</h2>
        <%=  %>

        <%= link_to(image_tag('plus_sign.png', :size=>'11x11', :alt => '+') + " Add New Release Note", {:action => 'new', :version_id => @version.id}, :class => 'action new') %>

    <table class="listing" summary="Release notes">
        <tr class="header">
            <th>ID</th>
            <th>Note</th>
            <th>Version ID</th>
            <th>Actions</th>
        </tr>
        <% @release_notes.each do |release_note| %>
        <tr>
            <td><%= release_note.id %></td>
            <td><%= release_note.note %></td>
            <td><%= release_note.version_id %></td>
            <td class="actions">
                <%= link_to("Show", {:action => 'show' , :id => release_note.id, :version_id => @version.id},  :class => 'action show') %>
                <%= link_to("Edit",{:action => 'edit' , :id => release_note.id, :version_id => @version.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id => release_note.id, :version_id => @version.id}, :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
