<table summary="Contact information form fields">
    <tr>
        <th><%= f.label(:street_address, "Street Address") %></th>
        <td><%= f.text_field(:street_address) %></td>
    </tr>
    <tr>
        <th><%= f.label(:city, "City") %></th>
        <td><%= f.text_field(:city) %></td>
    </tr>
    <tr>
        <th><%= f.label(:state, "State") %></th>
        <td><%= f.text_field(:state) %></td>
    </tr>
    <tr>
        <th><%= f.label(:zip, "Zip") %></th>
        <td><%= f.text_field(:zip) %></td>
    </tr>
    <tr>
        <th><%= f.label(:phone, "Phone") %></th>
        <td><%= f.text_field(:phone) %></td>
    </tr>
    <tr>
        <th><%= f.label(:email, "Email") %></th>
        <td><%= f.text_field(:email) %></td>
    </tr>
</table>
