<%= link_to("<< Back to List", {:action => 'index', :admin_id => @admin.id}, :class => 'back-link') %>

<div class="registered_users show">
    <h2>Show Registered User</h2>
    <table summary="Registered user detail view">
        <tr>
            <th>ID</th>
            <td><%= @registered_user.id %></td>
        </tr>
        <tr>
            <th>Username</th>
            <td><%= @registered_user.username %></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><%= @registered_user.password %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= @registered_user.email %></td>
        </tr>
        <tr>
            <th>Subscribed</th>
            <td><%= @registered_user.subscribed %></td>
        </tr>
        <tr>
            <th>Admin ID</th>
            <td><%= @registered_user.admin_id %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @registered_user.created_at %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @registered_user.updated_at %></td>
        </tr>
    </table>
</div>
