<%= link_to("<< Back to List", {:action => 'index', :registered_user_id => @registered_user.id, :admin_id => @registered_user.admin_id}, :class => 'back-link') %>

<div class="feedbacks show">
    <h2>Show Feedback</h2>
    <table summary="Feedback detail view">
        <tr>
            <th>ID</th>
            <td><%= @feedback.id %></td>
        </tr>
        <tr>
            <th>Feedback</th>
            <td><%= @feedback.feedback %></td>
        </tr>
        <tr>
            <th>Registered User ID</th>
            <td><%= @feedback.registered_user_id %></td>
        </tr>
        <tr>
            <th>Admin ID</th>
            <td><%= @feedback.admin_id %></td>
        </tr>
        <tr>
            <th>Created</th>
            <td><%= @feedback.created_at %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><%= @feedback.updated_at %></td>
        </tr>
    </table>
</div>
