<%= link_to("<< Back to Waypoint Features", {:controller => 'waypoint_features', :action => 'index', :admin_id => @waypoint_feature.admin_id}, :class => 'back-link') %>

<% @page_title = "FeatureDescription" %>

<div class="feature_description index">
    <h2>Feature Description</h2>
        <%=  %>

        <% if @feature_descriptions.blank? %>
            <%= link_to(image_tag('plus_sign.png', :size=>'11x11', :alt => '+') + " Create Feature Description", {:action => 'new', :waypoint_feature_id => @waypoint_feature.id, :admin_id => @waypoint_feature.admin_id}, :class => 'action new') %>
        <% end %>

    <table class="listing" summary="Feature description">
        <tr class="header">
            <th>ID</th>
            <th>Description</th>
            <th>Waypoint Feature ID</th>
            <th>Admin ID</th>
            <th>Actions</th>
        </tr>
        <% @feature_descriptions.each do |feature_description| %>
        <tr>
            <td><%= feature_description.id %></td>
            <td><%= feature_description.description %></td>
            <td><%= feature_description.waypoint_feature_id %></td>
            <td><%= feature_description.admin_id %></td>
            <td class="actions">
                <%= link_to("Show", {:action => 'show' , :id => feature_description.id, :waypoint_feature_id => @waypoint_feature.id, :admin_id => @waypoint_feature.admin_id},  :class => 'action show') %>
                <%= link_to("Edit",{:action => 'edit' , :id => feature_description.id, :waypoint_feature_id => @waypoint_feature.id, :admin_id => @waypoint_feature.admin_id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id => feature_description.id, :waypoint_feature_id => @waypoint_feature.id, :admin_id => @waypoint_feature.admin_id}, :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
