<%= link_to("<< Back to List", {:action => 'index', :admin_id => @admin.id}, :class => 'back-link') %>

<div class="waypoint_features delete">
    <h2>Confirm Deletion</h2>

    <table summary="Waypoint feature detail view">
        <tr>
            <th>ID</th>
            <td><%= @waypoint_feature.id %></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><%= @waypoint_feature.name %></td>
        </tr>
        <tr>
            <th>Admin ID</th>
            <td><%= @waypoint_feature.admin_id %></td>
        </tr>
    </table>

    <%= form_for(:waypoint_feature, :url => {:action => 'destroy', :id => @waypoint_feature.id, :admin_id => @admin.id}) do |f| %>

    <div class="form-buttons">
        <%= submit_tag("Delete Waypoint Feature") %>
    </div>

    <% end %>

</div>
