<%= link_to("<< Back to Admins", {:controller => 'admins', :action => 'index'}, :class => 'back-link') %>

<% @page_title = "WaypointFeatures" %>

<div class="waypoint_features index">
    <h2>Waypoint Features</h2>
        <%=  %>

        <%= link_to(image_tag('plus_sign.png', :size=>'11x11', :alt => '+') + " Add New Waypoint Feature", {:action => 'new', :admin_id => @admin.id}, :class => 'action new') %>

    <table class="listing" summary="Waypoint features">
        <tr class="header">
            <th>ID</th>
            <th>Name</th>
            <th>Admin ID</th>
            <th>Actions</th>
        </tr>
        <% @waypoint_features.each do |waypoint_feature| %>
        <tr>
            <td><%= waypoint_feature.id %></td>
            <td><%= waypoint_feature.name %></td>
            <td><%= waypoint_feature.admin_id %></td>
            <td class="actions">
                <%= link_to("Feature Description", {:controller => 'feature_descriptions', :waypoint_feature_id => waypoint_feature.id, :admin_id => waypoint_feature.admin_id},  :class => 'action index') %>
                <%= link_to("Show", {:action => 'show' , :id => waypoint_feature.id, :admin_id => @admin.id},  :class => 'action show') %>
                <%= link_to("Edit",{:action => 'edit' , :id => waypoint_feature.id, :admin_id => @admin.id}, :class => 'action edit') %>
                <%= link_to("Delete", {:action => 'delete', :id => waypoint_feature.id, :admin_id => @admin.id}, :class => 'action delete') %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
